.modal-body svg {
    color: var(--grayColor);
    font-size: 5rem;
}

.modal-body{
    padding: 0;
}
.modal-content{
    border: 3px solid var(--yellowColor);
    border-radius: 0;
}
.modalHeading {
    background-color: var(--yellowColor);
    margin: 0;
    text-align: center;
    padding: 16px;
}
.modal-content .closeButton {
    position: absolute;
    z-index: 9;
    right: -5px;
    top: -5px;
    margin: 0;
}