.banner-slider-section {
  /* margin: 10px 0;  */
  width: 100%;
  overflow: hidden;
}

.banner-image-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative; */
}

.banner-image {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  border-radius: 8px;
}
